body {
    background-color: dimgray;
    margin: 0;
    padding: 0;
}

div {
   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: 0;
    opacity: .9;
    width: 100%;
    text-align: center;
}


li {
    display: inline-block;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

div {
    text-align: center;
    border:double;
   
   
}

p {
    text-align: center;
    bottom: 50%;
}

table {
   
    width: 100%;
    background-image: url('https://img.clipartfox.com/dd644fda32a315a5efdedfeb6cbb4604_free-download-black-and-white-ocean-photos_1920-1280.jpeg');
    top: 0;
    left: 0;
}

tr {
  
}

td {
   
}

img{
    height:200px;
    width:200px;
}

